.floatingdiv{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0px 28px 0px 0px;
    height: 4.5rem;
}

.floatingdiv>img{
    transform: scale(0.4);
}

.floatingdiv>span{
    font-family: sans-serif;
    font-size: 15px;
}

/* Mobile responsive design for FloatingDiv */
@media screen and (max-width: 768px) {
    .floatingdiv {
        height: 3.5rem;
        padding: 0px 15px 0px 0px;
        border-radius: 12px;
    }
    
    .floatingdiv>img {
        transform: scale(0.3);
    }
    
    .floatingdiv>span {
        font-size: 11px;
        line-height: 1.2;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .floatingdiv {
        height: 3rem;
        padding: 0px 12px 0px 0px;
        border-radius: 10px;
    }
    
    .floatingdiv>img {
        transform: scale(0.25);
    }
    
    .floatingdiv>span {
        font-size: 9px;
        line-height: 1.1;
    }
}

